<nav>
    <h1>Places list</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Find</button>
    </form>

    <ul>
        {% for place in places %}
            <li>
                <a href="{% url 'weather_app:delete' place.id %}" role="button">🗑️</a>
                <a href="{% url 'weather_app:place' place.id%}">{{ place.place_name }}</a>

                {% comment %}
                <a href="{% url 'weather_app:place' place.id%}">{{ place.place_name }}</a>
                {% endcomment %}
            </li>
        {% endfor %}
    </ul>
</nav>