{% extends 'base.html' %}

{% block body %}
    {% include 'nav_places.html' %}

    <div id="current_content" class="rounded">
        <h1 class="text-capitalize">{{ place.place_name }}</h1>
        <img src="https://developer.accuweather.com/sites/default/files/{{ data_current.crt_icon }}-s.png"
             onerror="this.onerror=null;this.src='https://developer.accuweather.com/sites/default/files/0{{ data_current.crt_icon }}-s.png'">
        <p style="font-size: 50px">{{ data_current.crt_temp }}°</p>
        <p>{{ data_current.crt_max }}°/{{ data_current.crt_min }}°</p>
        <p>{{ data_current.crt_text }}</p>
    </div>

    <!-- HOURLY -->
    <div>
        <h2 style="text-align: center">Hourly forecast</h2>
        <div class="list_container">
            <ul class="forecast_list rounded border-dark">
                {% for i in data_hourly %}
                    <li>
                        <p>{{ i.hrs_time }}</p>
                        <img src="https://developer.accuweather.com/sites/default/files/{{ i.hrs_icon }}-s.png"
                        onerror="this.onerror=null; this.src='https://developer.accuweather.com/sites/default/files/0{{ i.hrs_icon }}-s.png'">
                        <p>{{ i.hrs_temp }}°</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- DAILY -->
    <div>
        <h2 style="text-align: center">Daily forecast</h2>
        <div class="list_container">
            <ul class="forecast_list rounded border-dark">
                {% for i in data_daily %}
                    <li>
                        <p>{{ i.day_date }}</p>
                        <img src="https://developer.accuweather.com/sites/default/files/{{ i.day_icon }}-s.png"
                             onerror="this.onerror=null; this.src='https://developer.accuweather.com/sites/default/files/0{{ i.day_icon }}-s.png'">
                        <p>{{ i.day_max }}°/ {{ i.day_min }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}